html{
    height: 100%;
}

body{
  


    background-image: url(./imgs/howlsMovingCastle2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-size: 50px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

#manga-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding:  20px;
    margin: 20px;
}

.input-field{
    width: 300px;
}

.manga-card{
    display: flex;
    flex-direction: column;
    
   
    
    color: white;
    font-size: 15px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;

    
    padding: 5px;
    margin: 5px;

    border: 2px solid black; 
    background-color: rgba(128, 128, 128, 0.6); 
   
}

.manga-cover{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.href-link{
    color: aqua;
    align-self: center;
}




#manga-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 50vw;

    padding: 10px;
    margin: auto;

   
    border: 2px solid black; 
    background-color: rgba(128, 128, 128, 0.6); */
    
   

}