* {
    margin: 0px;
    padding: 0px;
}

body{
  


    background-image: url(/public/imgs/howlsMovingCastle2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-size: 50px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

#manga-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding:  20px;
    margin: 20px;
}

#manga-input-field{

    height: 50px;
    /* width: 200px; */
}

.manga-card{
    

    color: white;
    font-size: 10px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;

    padding: 5px;
    margin: 5px;
   
}




#manga-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 10px; border: 2px solid white; background-color: rgba(128, 128, 128, 0.6);
    
   border: 2px solid black;
   padding: 10px;
   margin: 5px;

}